<mat-card class="outCard">
  <mat-card class="inCardOne">
    <mat-card-header class="head1">
      ราคาขายสินค้าแต่ละประเภท
    </mat-card-header>


    <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-select placeholder="สินค้าประเภทที่ 1 " name=" categoryOne" [(ngModel)]="savePrice.category" required >
              <mat-option *ngFor="let  category of categories" [value]="category">
                {{category.categoryName}}
              </mat-option>
            </mat-select>
          </mat-form-field><br> 
          
          <mat-form-field class="example-full-width">
              <input matInput placeholder="ราคา"  [(ngModel)]="savePrice.priceOne" name="priceTwo" required>
          </mat-form-field> <br> 
          <mat-form-field class="example-full-width">
              <mat-select placeholder="สินค้าประเภทที่ 2 " name="categoryTwo" [(ngModel)]="savePrice.categorie2" required >
                <mat-option *ngFor="let categorie2 of categorie2s" [value]="categorie2">
                  {{categorie2.categoryName}}
                </mat-option>
              </mat-select>
          </mat-form-field><br> 
            
          <mat-form-field class="example-full-width">
                <input matInput placeholder="ราคา"  [(ngModel)]="savePrice.priceTwo" name="categoryTwo" required>
          </mat-form-field> <br>
    </mat-card-content>

  </mat-card>
  <br><br>
  <mat-card class="inCardTwo">
    <mat-card-header>
      สินค้ามือสอง 
    </mat-card-header>
    <mat-card-content>
        <mat-form-field class="example-full-width">
            <mat-select placeholder="ID สินค้า"  name="usedItem" [(ngModel)]="savePrice.usedItem" required >
              <mat-option *ngFor="let usedItem of usedItems" [value]="usedItem">
                {{usedItem.usedItemId}}
              </mat-option>
            </mat-select>
        </mat-form-field><br> 
        <mat-form-field class="example-full-width">
            <mat-select placeholder="พนักงาน"  name="employee" [(ngModel)]="savePrice.employee" required >
              <mat-option *ngFor="let employee of employees" [value]="employee">
                {{employee.ename}}
              </mat-option>
            </mat-select>
        </mat-form-field><br> 
       
    </mat-card-content>

  </mat-card>
  <br><br>
  <button mat-flat-button class="bt" (click)="save()">บันทึก</button>


</mat-card>