<mat-card class="container">
  <h1 class="container">Individual receipt</h1><br><br>
</mat-card>
<mat-card class="container">
  <div class="container">
    <h2>Information: </h2>
    <div class="view-cart-item">
      <div class="container">
        <mat-list role="list">
          <mat-list-item role="listitem"> ID : {{cart.cartId}}</mat-list-item>
          <mat-list-item role="listitem"> Branch ID : {{branch.bid}}</mat-list-item>
          <mat-list-item role="listitem"> Employee ID : {{employee.eid}}</mat-list-item>
          <mat-list-item role="listitem"> Net Price : {{createR.netPrice}}</mat-list-item>
        </mat-list>
      </div>
      </div>
  </div>
</mat-card>

<mat-card>
  <div class="container">
    <button mat-raised-button color="primary" (click)="SaveAndUpdate()" id="findBtn" class="container">SUBMIT</button>
  </div>
</mat-card>