<mat-card class="container">
  <h1 class="container">Individual receipt</h1><br><br>
</mat-card>
<mat-card class="container">
    <mat-card-content class="container">
    <form #regisForm="ngForm" (ngSubmit)="SaveAndUpdate()">
        <div class="example-container">
            <mat-list role="list">
              <mat-list-item role="listitem"> Cart ID : {{cart.cartId}}</mat-list-item>
              <mat-list-item role="listitem"> Employee ID : {{employee.eid}}</mat-list-item>
              <mat-list-item role="listitem"> Net Price : {{createR.netPrice}}</mat-list-item>
            </mat-list>

            <mat-form-field class="container">
                <mat-select placeholder="เลือกสาขา" name="branch" [(ngModel)]="receipt.branch" required>
                    <mat-option *ngFor="let branch of branchs" [value]="branch">
                        {{branch.bname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="button-submit">
            <button mat-flat-button color="warn" id="reg" [disabled]="regisForm.invalid || branch == false">
                บันทึก
            </button>
        </div>
    </form>
    </mat-card-content>       
</mat-card>