<!-- <mat-card class="">
    <div class="container">
      <h2>RECEIPT DETAIL :</h2>
      <div class="view-cart-item">
        <div class="">
          <mat-list role="list">
            <mat-list-item role="listitem"> ID : {{cart.customer.customernID}}</mat-list-item>
            <mat-list-item role="listitem"> Name : {{cart.customer.customerName}}</mat-list-item>
            <mat-list-item role="listitem"> Telephone Number : {{cart.customer.tel}}</mat-list-item>
            <mat-list-item role="listitem"> Address : {{cart.customer.address}}</mat-list-item>
  
          </mat-list>
        </div>
        </div>
    </div>
  </mat-card> -->
  
<mat-card>
  <div class="container">
    <!-- <button mat-flat-button color="warn" id="reg" [disabled]="regisForm.invalid || checkSelected == false" >
      บันทึก
    </button> -->
    <!-- <button mat-raised-button (click)="SaveAndUpdate()">SUBMIT</button> -->
    <button mat-raised-button color="primary" (click)="SaveAndUpdate()" id="findBtn">SUBMIT</button>

  </div>
</mat-card>