<div class="container">
  <div class="used-item-form">
    <mat-card class="card">
      <mat-card-header class="header">
        <h2>ป้อนข้อมูล</h2>
      </mat-card-header>
      <mat-card-content class="content">
        <form>

          <mat-form-field appearance="outline">
            <mat-label>ป้อนไอดี</mat-label>
            <input matInput name="id" id="id" placeholder="ป้อนไอดีของใบเช็คสภาพ...">
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="เลือกที่จัดเก็บ">
              <mat-option>
                <!-- {{stock.stockName}} -->
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>ป้อนราคา</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="เลือกช่างซ่อม">
              <mat-option >
                <!-- {{repairman.repairmanName}} -->
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>ป้อนรายละเอียด</mat-label>
            <input matInput>
          </mat-form-field>

          <button mat-raised-button color="warn" id="save">บันทึก</button>
        </form>
      </mat-card-content>
    </mat-card>    
  </div>
</div>