.container{
    display: flex;
    text-align: center;
    margin: 30px;
}
.used-item-form{
    margin: 60px auto;
    width: 100%;
}
.used-item-form .card{
    margin: auto;
    max-width: 500px;
    display: block;
}
/* .used-item-form .card .content{
    display: block;
    width: 100%;
    border: 1px solid;
} */
.used-item-form .card .content mat-form-field{
    display: block;
    margin: auto;
    width: 100%;
}