.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.mat-toolbar{
    position: initial;
    z-index: 2;
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
}
.sidebar-container{
    flex: 1;
}
.sidebar-menu{
    width: 300px;
    display: block;
}
.button1{
    width: 250px;
    font-size: 16px;
    cursor: pointer;
    margin: 25px auto;
    display: block;
    transition: all 0.3s ease 0s;
}
.button1:hover{
    background: salmon;
}

