<div class="container">
  <mat-toolbar color="primary" class="mat-toolbar">
      <button mat-icon-button style="margin-right: 10px" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
         <span>ระบบรับซื้อของเก่า</span>
      <!--  <span class="example-spacer"></span>
        <span>Third Line</span> -->
    </mat-toolbar>

    <mat-sidenav-container class="sidebar-container">
      <mat-sidenav #sidenav  mode="over" class="sidebar-menu">
        <ul>
          <li (click)="gocustomer(); sidenav.close()"><h3> สมัครสมาชิกลูกค้า </h3></li><br>
          <button mat-button class="button1"(click)="addemployee(); sidenav.close()" >เพิ่มข้อมูลพนักงาน</button>
         <!-- <li (click)="goPage2(); sidenav.close()">PAGE2</li>-->
        </ul>
      </mat-sidenav>
      <mat-sidenav-content class="mat-sidenav-content">
        <router-outlet></router-outlet>
        <!-- <app-find-customer></app-find-customer> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>