<div class="container">
  <mat-toolbar color="primary" class="mat-toolbar">
      <button mat-icon-button style="margin-right: 10px" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
         <span>ระบบรับซื้อของเก่า</span>
      <!--  <span class="example-spacer"></span>
        <span>Third Line</span> -->
    </mat-toolbar>

    <mat-sidenav-container class="sidebar-container">
      <mat-sidenav #sidenav  mode="over" class="sidebar-menu"> <br><br>
  
          <button mat-raised-button color="primary" class="button1" (click)="gocustomer(); sidenav.close()"> สมัครสมาชิกลูกค้า </button><br><br>
          <button mat-raised-button color="primary" class="button1" routerLink="/find-customer">ซื้อและจำแนกประเภทสินค้า</button><br><br>
          <button mat-raised-button color="primary" class="button1" (click)="addemp(); sidenav.close()" >ออกใบเสนอราคาสินค้า</button><br><br>
          <button mat-raised-button color="primary" class="button1" (click)="RefindEmp(); sidenav.close()" >ใบเสร็จรับเงิน</button><br><br>
          <button mat-raised-button color="primary" class="button1"(click)="addemployee(); sidenav.close()" >เพิ่มข้อมูลพนักงาน</button>
         <!-- <li (click)="goPage2(); sidenav.close()">PAGE2</li>-->
        
      </mat-sidenav>
      <mat-sidenav-content class="mat-sidenav-content">
        <router-outlet></router-outlet>
        <!-- <app-find-customer></app-find-customer> -->
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>