<div class="container">
  <div class="find-custome2">
    <div class="show-employee-detail">
      <mat-list role="list">
          <mat-icon mat-list-icon>face</mat-icon>        
        <h4 mat-line>Employee ID : {{employee.eid}}</h4>
        <h4 mat-line>Employee Name : {{employee.ename}}</h4>        
      </mat-list>
    </div>   
  </div>
</div>

<div class="container">
  <div class="find-custome2">
    <h2>ค้นหาลูกค้า</h2>
    <mat-form-field appearance="outline" class="inputID">
      <mat-label>ป้อนไอดีลูกค้า</mat-label>
      <input matInput [(ngModel)]="id" name="id" placeholder="ป้อนไอดีลูกค้า">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <div>
      <button mat-raised-button color="warn" (click)="onClick(id2)" [disabled]="id == null">ค้นหา</button>
    </div>
  </div>
</div>