<div class="container">
  <div class="saleItem">
    <div class="show-customer-detail">
      <!-- <mat-list role="list">
        <mat-list-item role="listitem">Customer ID : {{customer.customerId}}</mat-list-item>
        <mat-list-item role="listitem">Customer Name : {{customer.customerName}}</mat-list-item>
      </mat-list> -->
      <mat-list-item>
        <mat-icon mat-list-icon>face</mat-icon>
        <h4 mat-line>{{customer.customerName}}</h4>
      </mat-list-item>      
    </div>
      <h3>รายการสินค้า</h3>
    </div>
  </div>
        <div class="list">
    <table mat-table [dataSource]="buyItems" class="mat-elevation-z8">

        <ng-container matColumnDef="itemName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef> Amount </th>
          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>
      
        <ng-container matColumnDef="totalPrice">
          <th mat-header-cell *matHeaderCellDef> TotalPrice </th>
          <td mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
        </ng-container>
      
        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Catgeory </th>
          <td mat-cell *matCellDef="let element"> {{element.category.categoryName}} </td>
        </ng-container>

        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let element"> {{element.unit.unitName}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Choose Item </th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="gosaveitem(element.buyItemId,id2,id3);">Choose</button></td>
        </ng-container>

        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>      
 