
<div class="content">
  <mat-card class="card employee-card">
    <mat-card-header class="header">    
      <h2 class="title"> ข้อมูลพนักงาน    <mat-icon class="icon" >person_add </mat-icon> </h2> 
    </mat-card-header>
    <mat-card-content> <br> <br> 
      <form class="example-form" #employeeForm="ngForm" > 
          
        <mat-form-field class="example-full-width" >
          <input matInput placeholder="คำนำหน้า"  [(ngModel)]="employee.title" name="title" required >
        </mat-form-field> 
   
                <mat-form-field class="example-full-width" >
                  <input matInput placeholder="ชื่อ-นามสกุล"  [(ngModel)]="employee.ename" name="name" required >
                </mat-form-field> 
             
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="อายุ"  [(ngModel)]="employee.age" name="age" required>
                </mat-form-field> <br>

                <mat-form-field class="example-full-width">
                  <input matInput [matDatepicker]="picker" placeholder="วันเกิด" [(ngModel)]="employee.bdate" name="date">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 
              
        <mat-form-field class="example-full-width">
          <input matInput placeholder="เบอร์โทรศัพท์"  [(ngModel)]="employee.tel" name="tel" required>
        </mat-form-field> <br>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="ที่อยู่"  [(ngModel)]="employee.address" name="address" required>
        </mat-form-field> <br>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="จังหวัด" name="province" [(ngModel)]="employee.province" required >
            <mat-option *ngFor="let province of provinces" [value]="province">
              {{province.pname}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>

        <mat-form-field class="example-full-width">
          <mat-select placeholder="วุฒิการศึกษา"  name="education"  [(ngModel)]="employee.education" required >
            <mat-option *ngFor="let education of educations" [value]="education">   
              {{education.edName}}
            </mat-option>
         </mat-select>
        </mat-form-field><br>  

        <mat-form-field class="example-full-width">
          <mat-select placeholder="สาขา" name="branch" [(ngModel)]="employee.branch" required>
            <mat-option *ngFor="let branch of branchs" [value]="branch">
              {{branch.bname}}
            </mat-option>
          </mat-select>
        </mat-form-field><br> 

        <mat-form-field class="example-full-width">
          <mat-select placeholder="ตำแหน่ง" name="position" [(ngModel)]="employee.position" required >
            <mat-option *ngFor="let position of positions" [value]="position">   
              {{position.psName}}
            </mat-option>
          </mat-select>
        </mat-form-field><br>
        
      </form>
      <div class="button">
        <button mat-flat-button   [disabled]="employeeForm.invalid || checkSelected == false" (click)="save()" >
          บันทึก
        </button>
      </div>
    </mat-card-content>
  </mat-card>