.content{
    margin: auto;
}
.employee-card {
    padding: auto;
  
}


.title {
    margin: auto;
}

.example-full-width {
    width: 100%;
    text-align: center;
}
mat-card {
    max-width: 100%;
}
.titleName{
    font-size: 20px;
}
.button-summit{
    

}


