.content{
    margin: auto;
}
.employee-card {
    margin: auto;
  
}


.title {
    margin: auto;
}

.example-full-width {
    width: 100%;
    text-align: ;
}
mat-card {
    max-width: 100%;
}
.titleName{
    font-size: 20px;
}


